// Colori
$background-color : #fff;
$title-color: #fff;
$paragraph-color: rgb(190, 188, 188);
$accent-color: yellow;




// Tipografia
$main-font : "Abril-fatface, serif";
$secondary-font : "Roboto";
$title-font : "Open Sans";