// Colori 
// cube
$background-color-black : #060606;
$active-color-white: #ffff;
$color-violet: #6b0c7a;
$color-red: #bc0428;
$color-silver: #bcbcbc;
$color-buttom: #4154fe;
$color-jambo: #78787a;
$color-blue-astr: #014461;
$color-red-sienna: #ec5a57;
$color-verdun: #504e00;





$paragraph-color: rgb(190, 188, 188);
$accent-color: #ffff00;
$primary-color: grey;
$text-white: white;



// Tipografia
$main-font : "Abril-fatface, serif";
$secondary-font : "Roboto";
$title-font : "Open Sans";